www.{$APP_DOMAIN} {
  redir https://{$APP_DOMAIN}{uri} permanent
}

{$APP_DOMAIN} {
  encode zstd gzip
  reverse_proxy app:3000

  header {
    -Server
  }

  log {
    output stdout
    format json
  }
}
